body {
    background-image: url(../images/mobile_bg_menu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}
.logo {
   // background: url(../../images/okulsis-logo-transparent.png) no-repeat center top;
    position: absolute;
    left: 20%;
    top: 2%;
    height: 50px;
    width: 225px;
    text-align: center;
   
}
header, footer {
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
}
#mail_menu{
    color:white;
    float:left;
    padding-right:20px;
   
}
#menu {
    position: fixed;
    background-color: #222;
    height: 100%;
    z-index: 10;
    width: 280px;
    color: #bbb;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    font-family: 'Source Sans Pro', sans-serif;
}

    #menu ul {
        list-style: none;
        margin-top: 0;
        padding: 0
    }

        #menu ul li {
            border-bottom: 1px solid #2a2a2a;
        }

    #menu > ul > li > a {
        border-left: 4px solid #222;
    }

    #menu ul li a {
        color: inherit;
        font-size: 16px;
        display: block;
        padding: 8px 0 8px 7px;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-weight: 600;
    }

    #menu ul a i {
        margin-right: 10px;
        font-size: 18px;
        margin-top: 3px;
        width: 20px;
    }

        #menu ul a i[class*='fa-caret'] {
            float: right;
        }

    #menu ul a:hover,
    #menu ul a.active {
        background-color: #111;
        border-left-color: #FFCC33;
        color: #FFCC33;
    }

        #menu ul a:hover i:first-child {
            color: #FFCC33;
        }

    /* Submenu */

    #menu ul li a.active + ul {
        display: block
    }

    #menu ul li ul {
        margin-top: 0;
        display: none;
    }

        #menu ul li ul li {
            border-bottom: none;
        }

            #menu ul li ul li a {
                padding-left: 30px;
            }

                #menu ul li ul li a:hover {
                    background-color: #1A1A1A;
                }

/* /Submenu */


/* Cuando este a la Izq, para esconderlo posicionarlo a la Izq a -width */

.left {
    left: -280px;
}

.show {
    left: 0;
}

#showmenu {
    margin-left: 100%;
    position: absolute;
    top: 0;
    padding: 6px 10px 7px 10px;
    font-size: 1.3em;
    color: #FFCC33;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#container {
    padding-top:20%;
   text-align:center;
}
